<h1><%= @recipe.name %></h1>

<% if @recipe.user_id == session[:user_id] %>

	<p>Back to <a href="/users/<%=@user.username%>">your</a> recipes!</p>

<% else %>

	<p>Back to <a href="/users/<%= User.find(@recipe.user_id).username %>"><%= User.find(@recipe.user_id).username %></a>'s recipes!</p>

<% end %>

<img src="<%= @recipe.images %>" alt="<%= @recipe.name %>">
<p>Total time: <%= @recipe.total_time %> minutes</p>
<%= @recipe.recipe.gsub(',','') %>

<br>

<% if logged_in? && @recipe.user_id == session[:user_id] %>
	<form action="/recipes/delete" method="POST">
		<input type="hidden" id="hidden" name="_method" value="delete">
		<input type="hidden" name="recipe_id" value="<%=@recipe.id%>">
		<input type="submit" value="Delete">
	</form>
<% end %>