<% if logged_in? && @user.id == session[:user_id] %>
	<h1>Hi <%= @user.username %>!</h1>

	<div class="recipes">
		<section class="ingredient-list">
			<h2>Showing recipes including leftover <span id="ingredients">...</span></h2>
			<p class="hint" style="display:none;">(Double-click ingredient fields to edit them.)</p>
			<p class="manualAdd">
				<a href="#" onclick="event.preventDefault();"><i class="fa fa-plus-circle"></i> Add whatever you have lying around: </a>
				<input type="text" name="addField" id="addField" placeholder="Add ingredient">
			</p>
		</section> <!-- leftovers-list -->

		<section class="generated-recipes"> <!-- dynamically generated Yummly recipes -->
			<ul></ul>
		</section>
	</div>
<% else %>
	<h1><%= @user.username %>'s saved recipes:</h1>
<% end %>

<!-- user's saved meals -->

<section class="chosenMeals">
	<% if logged_in? && session[:user_id] %>
		<h2>Your saved recipes:</h2>
	<% end %>

	<ul>
		<%if @user.recipes.size !=0 %>
			<% @user.recipes.each do |recipe| %>
				<li class="meal">
					<h3><%= recipe.name %></h3>
					<img src="<%= recipe.images %>" alt="<%= recipe.name %>">
					<p><a href="/recipes/<%= recipe.slug %>">See more</a></p>
					<button>Delete</button>
				</li>
			<% end %>
		<% else %>
			<p class="noRecipes">No recipes to show.</p>
		<% end %>
	</ul>
</section>

